@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  padding: 0px;
  marging: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #0F0E0E;
  color: #F5F0F0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Raleway", sans-serif;
  animation-name: fadeIn;
  animation-duration: 1.5s; }

h1 {
  font-size: 2.5rem; }

h1,
h2,
h3 {
  text-align: center;
  color: #A8DBA8;
  font-family: "Gentium Plus", serif; }

#footer {
  width: 100%;
  height: 70px;
  background: linear-gradient(to top, #5c8e58, #0F0E0E); }
  #footer a img {
    width: 50px; }

#footerLogin {
  width: 100%;
  height: 70px;
  background: linear-gradient(to top, #5c8e58, #0F0E0E); }
  #footerLogin a img {
    width: 50px; }

.logoHead {
  width: 150px; }

.bgHead {
  background: linear-gradient(to bottom, #5c8e58, #0F0E0E);
  padding-bottom: 50px; }

.boxContacto, .boxIndex {
  border: solid 1px #5c8e58;
  padding: 20px; }

.boxLogin {
  border: solid 1px #5c8e58;
  padding: 20px; }

.boxRegis {
  border: solid 1px #5c8e58;
  padding: 20px; }

.boxVenta {
  padding: 20px; }

.boxIndex h2 {
  padding-bottom: 15px; }

.boxCarrusel {
  border: solid 1px #5c8e58;
  padding: 3.2rem;
  height: auto; }
  .boxCarrusel h2 {
    padding-bottom: 15px; }

.row div {
  background: none; }

.card img {
  width: 100%; }

.nav-item a {
  color: #F5F0F0;
  font-weight: 700;
  margin: 0px 2rem;
  font-size: 2rem; }

.dropdown ul {
  background: none;
  border: 0px; }

.dropdown-menu li {
  background: none; }

.accordion div,
.accordion-header button {
  background: none;
  color: #F5F0F0; }

.tituloVenta {
  background-color: #5c8e58;
  width: 100%;
  color: #F5F0F0;
  font-weight: 3rem;
  font-size: 2.5rem; }

.botonContacto {
  background-color: #0F0E0E;
  color: #F5F0F0;
  border: solid 1px #F5F0F0;
  padding: 0.5rem 1rem;
  margin: 0 3rem; }

.botonRegistro {
  margin: 4rem;
  color: #F5F0F0;
  font-size: 2rem;
  background-color: #5c8e58; }

.botonGris {
  background: #9E9E9EFF;
  color: #0F0E0E; }

.catTitulo {
  font-size: 2rem; }

.catPrecio {
  text-align: center;
  font-size: 2.5rem; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media only screen and (min-width: 280px) and (max-width: 991px) {
  .boxIndex {
    display: none; } }

@media only screen and (min-width: 280px) {
  .boxContacto, .boxIndex,
  .boxLogin {
    margin: 0.5rem; }
  .botonContacto {
    margin: 0.5rem; } }

@media only screen and (min-width: 576px) {
  .logoHead {
    width: 250px; } }

@media only screen and (min-width: 768px) {
  .boxCarrusel {
    padding: 5rem; }
  .boxContacto, .boxIndex,
  .boxLogin {
    margin: 0; }
  .botonContacto {
    margin: 0 2rem; }
  h1 {
    font-size: 3rem; }
  #footerLogin {
    position: fixed;
    bottom: 0; } }

@media only screen and (min-width: 992px) {
  #carouselExampleControls {
    display: none; }
  .botonContacto {
    margin: 0 4rem; } }
