*{
	padding: 0px;
	marging: 0px;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	background-color: map-get($map:$colores, $key:"black");
	color: map-get($map:$colores, $key:"white");
	font-size: $fontSm;
	line-height: 2rem;
	font-family: $bodyFont;
	animation-name: fadeIn;
	animation-duration: 1.5s;
}

h1{
	font-size: $fontLg;
}

h1,
h2,
h3{
	text-align: center;
	color: map-get($map:$colores, $key:"title");
	font-family: $titleFont;
}