// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&family=Raleway:wght@400;700&display=swap');

// Fuentes

$bodyFont: 'Raleway', sans-serif;
$titleFont: 'Gentium Plus', serif;

// Tamaños

$fontSm: 1.5rem;
$fontMd: 2rem;
$fontLg: 2.5rem;
$fontXl: 3rem;

// Estilos

$fontReg: 400;
$fontBold: 700;