#footer{
	width: 100%;
	height: 70px;
	background: linear-gradient(to top, map-get($map:$colores, $key:"main"), map-get($map:$colores, $key:"black"));	
	a{
		img{
			width: 50px;
		}
	}
}

#footerLogin{
	width: 100%;
	height: 70px;
	background: linear-gradient(to top, map-get($map:$colores, $key:"main"), map-get($map:$colores, $key:"black"));	
	a{
		img{
			width: 50px;
		}
	}
}

.logoHead{
	width: 150px;
}

.bgHead{
	background: linear-gradient(to bottom, map-get($map:$colores, $key:"main"), map-get($map:$colores, $key:"black"));	
	padding-bottom: 50px;
}