@mixin cajas($pad){
	border: solid 1px map-get($map:$colores, $key:"main");
	padding: $pad;
}

.boxContacto{
		@include cajas(20px);
}

.boxLogin{
		@include cajas(20px);
}

.boxRegis{
		@include cajas(20px);
}

.boxVenta{
		@include cajas(20px);
}

.boxIndex{
	@extend .boxContacto;
	h2{
		padding-bottom: 15px;
	}
}

.boxCarrusel{
	@include cajas(3.2rem);
	height: auto;
	h2{
		padding-bottom: 15px;
	}
}

.row{
	div{
		background: none;
	}
}

.card{
	img{
		width: 100%;
	}
}

.nav-item{
	a{
		color: map-get($map:$colores, $key:"white");
		font-weight: $fontBold;
		margin: 0px 2rem;
		font-size: $fontMd;
	}
}

.dropdown{
	ul{
		background: none;
		border: 0px;
	}
}

.dropdown-menu{
	li{
		background: none;
	}
}

.accordion div,
.accordion-header button{
	background: none;
	color: map-get($map:$colores, $key:"white");
}

.tituloVenta{
	background-color: map-get($map:$colores, $key:"main");
	width: 100%;
	color: map-get($map:$colores, $key:"white");
	font-weight: $fontXl;
	font-size: $fontLg;
}

.botonContacto{
	background-color: map-get($map:$colores, $key:"black");
	color: map-get($map:$colores, $key:"white");
	border: solid 1px map-get($map:$colores, $key:"white");
	padding: 0.5rem 1rem;
	margin: 0 3rem;
}

.botonRegistro{
	margin: 4rem;
	color: map-get($map:$colores, $key:"white");
	font-size: $fontMd;
	background-color: map-get($map:$colores, $key:"main");
}

.botonGris{
	background: map-get($map:$colores, $key:"grey");
	color: map-get($map:$colores, $key:"black");
}

.catTitulo{
	font-size: $fontMd;
}

.catPrecio{
	text-align: center;
	font-size: $fontLg;
}
