///////////////
// MIN & MAX //
///////////////

@media only screen and (min-width:768px) and (max-width: 991px){
	.cajaSabias{
		width: 48%;
	}
	.cardVenta{
		width: 32%;
	}
}

////////////////////
// SOLO MIN O MAX //
////////////////////

@media only screen and (min-width:768px){
	.carousel{
		display: none;
	}
}

@media only screen and (min-width:992px){
	.cajaSabias{
		width: 24%;
	}
	.faqTitulo:hover{
		color: map-get($map:$colores, $key:"verdec");
	}
}

@media only screen and (max-width: 575px){
	.pieSimple{
		border-top: 3px solid map-get($map:$colores, $key:"negro");
	}
}

@media only screen and (max-width: 767px){
	#indiceSm{
		display: none;
	}
	.cajaSabias{
		width: 80%;
	}
	.cardVenta{
		width: 45%;
	}
}

@media only screen and (max-width: 991px){
	.footSocial{
		padding: 1rem;
	}
}

