// Colores

$mainColor: rgba(92,142,88,1);
$secColor: rgba(139,69,19,0.1);
$titleColor: #A8DBA8;
$white: #F5F0F0;
$black: #0F0E0E;

$colores:(
	"main": rgba(92,142,88,1),
	"second": rgba(139,69,19,0.1),
	"title": #A8DBA8,
	"white": #F5F0F0,
	"black": #0F0E0E,
	"grey": #9E9E9EFF,
	);