/////////////
// COLORES //
/////////////

$colores:(
	"negro": rgb(15, 15, 15),
	"caja": rgba(15, 15, 15, 0.7),
	"gris": rgb(214, 216, 217),
	"grist": rgba(214, 216, 217,0.3),
	"blanco": rgb(240, 240, 240),
	"verdeo": rgba(59, 110, 100, 0.9),
	"verdec": rgb(79, 201, 12),
	"amarillo": rgb(182,184,44),
	"rojo": rgb(248, 6, 18),
	);

/////////////
// FUENTES //
/////////////

$mainFont: 'Ibarra Real Nova', serif;
$secondFont: 'Roboto', sans-serif;

///////////////////////
// TAMAÑOS DE FUENTE //
///////////////////////

$fontSm: 1.5rem;
$fontMd: 1.8rem;
$fontLg: 2.2rem;
$fontXl: 2.5rem;

//////////////////////
// PESO TIPOGRÁFICO //
//////////////////////

$reg: 400;
$bold: 700;